
[gcode_macro start_print]
variable_wait_ms: 0
gcode:
  {% set BED_TEMP = params.BED|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}

  M117 Heating Bed
  M190 S{BED_TEMP}
  SET_FAN_SPEED FAN=chamber_circulator SPEED=.8

  M117 Stabilizing
  G4 P{wait_ms}

  ;NEOPIXEL_DISPLAY LED="chamber_light" TYPE=extruder_temp MODE=glow
  M117 Heating Tool
  M109 S{EXTRUDER_TEMP}

  M117 Positioning
  G28

  M117 Prepare to probe
  wipe_nozzle

  M117 Fixing Gantry
  G32

  M117 Leveling Bed
  G29

  M83
  G1 E-10 F300

  calibrate_z

  G1 E10 F300

  M117 Priming Print System
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0  
  purge_wipe

  UPDATE_DELAYED_GCODE ID=enable_runout DURATION=30
  M117 Printing
  UPDATE_DELAYED_GCODE ID=clear_m117 DURATION=15

[gcode_macro wipe_nozzle]
gcode: 
  SAVE_GCODE_STATE NAME=wipe_state
  
  M83; use relative positioning for extrusion
  ;G0 E-1; retract to prevent oozing
  
  G90; use absolute positioning
  G0 X200 Y304 Z8 F3600; fast move to start of wipe
  G0 Z1.4 F2400; slow move into brush
  
  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start
  
  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start
  
  G0 X243 F8600; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start
  
  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start

  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start

  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start

  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start

  G0 X243; slow move to other side of brush
  G0 X209 Y302; move left and forward a little
  G0 X243; move right again
  G0 X209 Y304; move back to start
  
  G0 Z8; raise
  G0 Y250 F6000
  RESTORE_GCODE_STATE NAME=wipe_state

[gcode_macro purge_wipe]
gcode: 
  SAVE_GCODE_STATE NAME=purge_state
  
  G90; use absolute positioning
  
  G0 X167 Y304 Z.2 F6000; move to purge position
  
  M83; use relative positioning for extrusion
  
  G0 E25 F300; purge

  G0 Y280
  G0 Z8
  
  wipe_nozzle
  
  RESTORE_GCODE_STATE NAME=purge_state

[gcode_macro end_print]
gcode:
  TURN_OFF_HEATERS
  M84
  M107
  SET_FAN_SPEED FAN=chamber_circulator SPEED=1
  UPDATE_DELAYED_GCODE ID=turn_off_nevermore DURATION=600

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
  CLEAR_PAUSE
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}
  UPDATE_DELAYED_GCODE ID=enable_runout DURATION=30

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro set_wait]
gcode:
  {% set WAIT = params.WAIT_MS|default(3600000)|int %}
  SET_GCODE_VARIABLE MACRO=start_print VARIABLE=wait_ms VALUE={WAIT}

[delayed_gcode enable_runout]
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1

[delayed_gcode clear_m117]
gcode:
  M117

[delayed_gcode turn_off_nevermore]
gcode:
  SET_FAN_SPEED FAN=chamber_circulator SPEED=0

[pause_resume]